*{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
 
}
:root{
  --text-color: #000;
  --text-color2: #424141bd;
  --bg-color: #111111;
  --gris:#fafafa;
  --gris2:#f3eeee;
  --color1:#004481;
  --color2:#0f8d9d;
  --color3:#b41eda24;
  --blanco: #fff;
  --input:#c1bfbf;
  --loading:#0076e479;
}


h2,h3,h4,h5{
  color: var(--text-color);
}
a{
  text-decoration: none;
}

 body{
  background-color: var(--blanco);
 }
 a, .video-item, #SwiperSlide-scroll, .ItinerarioCard , .swiper-card{
  opacity: 0;
  animation: slideFromLeft 1s ease-in-out forwards;
  -webkit-animation: slideFromLeft 1s ease-in-out forwards;
}



@keyframes slideFromLeft {
  from {
      opacity: 0;
      transform: translateX(-20%);
      -webkit-transform: translateX(-20%);
      -moz-transform: translateX(-20%);
      -ms-transform: translateX(-20%);
      -o-transform: translateX(-20%);
}
  to {
      opacity: 1;
      transform: translateX(0);
  }
}



@keyframes slideFromCenter {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 10;
      transform: translateY(0%);
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      -o-transform: translateY(0%);
  }
  }

  
@keyframes slideUp {
  from {
      opacity: 0;
     
  }
  to {
      opacity: 10;
      transform: translateY(-3%);
      -webkit-transform: translateY(-3%);
      -moz-transform: translateY(-3%);
      -ms-transform: translateY(-3%);
      -o-transform: translateY(-3%);
}
  }
 
 